*{
    margin: 0;
    padding: 0;
}

h1{
    color: purple;
    text-align: center;
}

h2{
    color: aquamarine;
    text-align: center;
}

#header2{
    color: green;
    text-align: center;
}


nav{
    background-color: #2b2d42;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

nav li{
    list-style-type: none;
}

nav a{
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover{
    background-color: lightsteelblue;
}