cs50x/vecteezy_bicycle-animation-bike-icon-passing-screen_13274934.mov filter=lfs diff=lfs merge=lfs -text
cs50x/vecteezy_back-view-low-angle-tracking-asian-women-orange-cyclist_3488451.mov filter=lfs diff=lfs merge=lfs -text
